*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  height: 400px;
  background-color: blue;
}

.header-top{
  height: 60px;
  background-color: red;
}

.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline block;
}

.header-top-logo{
  float: left;
  width: 20%;
  background-color: pink;
}

.header-top-nav-left{
  float: left;
  width: 40%;
}

.header-top-nav-right{
  float: left;
  width: 40%;
  background-color: green;
}

.header-top-nav-left li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header-top-nav-left li{
  margin: 0 10px;
}
