*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  height: 400px;
  background-color: blue;
}

.header-top{
  height: 60px;
}

.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline-block;
}

.header-top-logo{
  float: left;
  width: 20%;
  padding: 10px;
}

.header-top-nav-left{
  float: left;
  width: 40%;
}

.header-top::after{
  content: "";
  display: table;
  clear: both;
}

.header-top-nav-right{
  float: left;
  width: 40%;
  text-align: right;
}

.header-top li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
.header-top li a{
margin: 0 10px;
}

.header-top{
 height: 60px;
 line-height: 60px;
}

.a1{
  border: 1px solid white;
  border-radius: 10px;
  padding: 12px;
}

.a2{
  border: 1px solid white;
  border-radius: 10px;
  padding: 12px;
  background-color: green;
}
